 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1000px;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 900px;
    }
    
    /* Set black background color, white text and some padding */
    
  
    .myShowArea{
      background-color: rgb(240, 248, 250);
      //overflow: scroll;
      height:900px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


 .card {
  background: #daf2fa;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  //width: 300px;
 // margin-top:20px;
 // margin-left:50px;
  font: 16px/40px helvetica,verdana,sans-serif;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.sidebar-widget-1 .list-group-item {padding:10px;font-size: 16px;}
.list-group-hover .list-group-item:hover {
   background-color: #a0ba18 ;color:#fff;transition: all 0.5s ease-out;}



.sidebar-widget-1 i {margin-right:15px;font-size:18px;font-weight:600;}
.list-group-item.bg-active {background:#2576b6;color:#fff; height:80px;}

/*Inputs in the edit profile section*/
.editprofile{

}

.editprofile .form-control{
  background-color: white;
  border:1px solid blue;
  font-size: 18px;
}

.editprofile .form-control:hover{
  background-color: #fcfca8;
}

.editprofile .form-control:focus{
  background-color: #fcfca8;
}
/*Inputs in the edit profile section*/




/*caption style in sold products*/
.thumbnail a>img{
     height: 150px !important;
   }
/*caption style in sold products*/
