.card {
  background: #daf2fa;
  border-radius: 2px;
  display: inline-block;
  height: 230px;
  margin: 1rem;
  position: relative;
  width: 300px;
  margin-top:20px;
  margin-left:50px;
  font: 14px/40px helvetica,verdana,sans-serif;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}