@charset "utf-8";
/* CSS Document */
.changePasswordFrm{
 }
 .changePasswordFrm input[type=text],[type=password]{
  
    width:300px !important;
    box-sizing: border-box !important;
    border: 2px solid #ccc !important;
    font-size:18px !important;
    background-color: white !important;
    background-position: 10px 10px !important; 
    background-repeat: no-repeat !important;
    padding: 12px 20px 12px 40px !important;
    -webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important; 
 }
  /*.afrm input[type=text]:focus{  
    width:500px;
 }*/
 .changePasswordFrm input[type=submit],[type=reset]{
  
    background-color:#337ab7;
    border: none;
    color: white;
    padding:15px 25px;
    cursor: pointer;
    width:100px;
    margin-left: 340px;
    margin-top: 50px;
 }
 .ctxt{
  font-family:Arial;
  font-size:20px;
  color:#036;
}


.changePasswordFrm input[type="checkbox"]{
  width: 16px; /*Desired width*/
  height: 16px; /*Desired height*/
}

