@charset "utf-8";
/* CSS Document */
.search{
 }
 .search input[type=text]{
	
	  width:400px;
 //   box-sizing: border-box;
    border: 1px solid #ccc;
    font-size:18px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
 //   -webkit-transition: width 0.4s ease-in-out;
 //   transition: width 0.4s ease-in-out; 
    background-image: url(../img/searchicon.png);
 //   border-radius: 5px;

 }
 .search input[type=submit],[type=reset]{
	
	  background-color:#337ab7;
    border: none;
    color: white;
    padding:15px 25px;
    cursor: pointer;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

 .search select{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
 }

  .search select:hover{
   background-color:#337ab7;
   cursor: pointer;
 }
   .search select option:hover{
   cursor: pointer;
 }
 
   .ntd{
	font-family:"Times New Roman", Times, serif;
	font-size:28px;
	color:#036;
}
